.AboutMe{
    --opacidad-negro: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../images/Codigo2.jpg");
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

}

h1{
    text-align: center;
    padding-right: 11%;

}

.presentation{
   
    margin-left: 20%;
    margin-right: 10%;
    text-align: justify;
    background-color: #040506;
}

.Image{
    margin-left: 47%;
    width: 240px;
}

h3{
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 40px;
}
h4{
    text-align: center;
    margin-top: 25px;
}
