.HomePageImage{
    --opacidad-negro: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../images/Codigo2.jpg");
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    
 
}

h1{
    text-align: center;
    color: #fefffe;
    font-family: Hack;
    padding-top: 5%;
    font-size: 200%;
    margin-left: 27%;
    
}
h4{
    text-align: center;
    color: #fefffe;
    font-family: Hack;
    padding-top: 12%;
 

}


.animation{
    color: #fefffe;
    font-family: Hack;
    padding-top: 10px;
    font-size: 200%;
    text-align: left;
 
}