.Resume{
    --opacidad-negro: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../images/Codigo2.jpg");
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
h1{
    align-items: center;
}
.centrado{
    align-content: center;
    display: flex;
}
#Download {
    position: absolute;
    margin-top: 6%;
    margin-right: 30px;
    font-size:xx-large;
    padding: 12px 30px;
    left: 46%;
}

#Download::hover {
    background-color:#0a0b23;

}